.planner-form {
  width: 90%;
  max-width: 600px;
  display: flex;
  align-items: center;
  background-color: #5fb396;
  height: 39px;
  padding: 0 2px;
  border-radius: 5px;
}

.planner-input {
  flex: 70%;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ece7dc;
  font-size: 1.1rem;
  background-color: #0d1f2d;
  padding-left: 4px;
}

.planner-input::placeholder {
  color: #ece7dc;
}

.planner-button {
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #0d1f2d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.planner-button svg {
  cursor: pointer;
}

.planner-button:active,
.planner-button:focus {
  border: none;
  outline: none;
}

.deleteall {
  width: 6%;
  height: 35px;
  font-size: 2.25rem;
  color: #0d1f2d;
  cursor: pointer;
}
