.planner-goal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  margin-top: 5px;
  border: ;
  color: #ece7dc;
}

.goal-name {
  font-size: 1.25rem;
  padding-right: 5px;
}

.rubbish {
  margin-right: 3px;
  cursor: pointer;
}

.unchecked {
  margin-right: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.checked {
  margin-right: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.edit-button {
  padding-bottom: -2px;
  font-size: 1rem;
  cursor: pointer;
}
