.nav {
  left: 0;
  top: 0;
  width: 20%;
  min-width: 140px;
  max-width: 300px;
  height: 100%;
  border: yellow 1px solid;
  display: flex;
  align-items: center;
}

.navwrapper {
  height: 70%;
  width: 100%;
  border: red 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navlinks {
  list-style: none;
  text-decoration: none;
}

.navbuttons {
  margin: 12.5px 0;
  height: 60px;
  width: 100%;
  border: paleturquoise 1px solid;
  background-color: #071017;
  color: #ece7dc;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.navbuttons svg {
  flex: 20%;
}

.navbuttons h1 {
  flex: 80%;
}
