.nav {
  left: 0;
  top: 0;
  width: 20%;
  min-width: 150px;
  max-width: 260px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.navwrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navlinks {
  list-style: none;
  text-decoration: none;
}

.navbuttons {
  margin: 0 0;
  height: 75px;
  width: 100%;
  background-color: #0a1822;
  color: #ece7dc;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  position: relative;
}

.navbuttons:hover {
  background-color: transparent;
}

.navbuttons::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
}

.navbuttons:hover::after {
  background: rgb(10, 24, 34);
  background: linear-gradient(
    90deg,
    rgba(10, 24, 34, 1) 45%,
    rgba(13, 31, 45, 0) 100%
  );
  z-index: 1;
}

.navbuttons:hover svg {
  transform: rotate(90deg);
  transition: all 250ms ease-in-out;
}

.navbuttons:hover + button {
  background-color: #fff;
}

.navbuttons svg {
  margin-top: 1px;
  flex: 20%;
  color: #fdc33c;
  position: relative;
  z-index: 2;
}

.navbuttons p {
  flex: 80%;
  position: relative;
  z-index: 2;
}

.navcolorblock {
  height: 100%;
  width: 100%;
  background-color: #0a1822;
}

.navprofile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 150px;
  max-width: 260px;
  min-height: 150px;
  max-height: 260px;
  color: #ece7dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.profileframe {
  width: 60px;
  height: 60px;
  border: #ece7dc 1px solid;
  border-radius: 50%;
  margin-bottom: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profileframe img {
  width: 100%;
}
